*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body{
    height: 100vh;
    background: #79D3FF;
    background: -webkit-linear-gradient(top right, #79D3FF, #DF442B);
    background: -moz-linear-gradient(top right, #79D3FF, #DF442B);
    background: linear-gradient(to bottom left, #79D3FF, #DF442B);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 20%;
    border-radius: 15px;
    overflow: hidden;
    text-align: right;
    box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
}

.display{
    width: 100%;
    height: 20vh;
    background: black;
    color: white;

}

.input{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

button{
    border:solid white;
    border-width: .5px;
    color: white;
    background: black;
    padding:1.6rem;
    font-size: 22px;
    transition: all 0.3s ease-in-out;
}

button:hover{
    font-weight: bold;
    color: red;
    transition: .2s;
}


.output{
    font-size: 38px;
    padding: 25px;
}

.result{
    font-size: 28px;
    padding: 25px;
}

@keyframes big{
    0%{
        font-size: 18px;
    }
    100%{
        font-size: 30px;
    }
}

@keyframes small{
    0%{
        font-size: 28px;
    }
    100%{
        font-size: 18px;
    }
}